<div class="card col-12 border border-dark">
    <div class="card-body">
        <h5 class="card-title bg-dark text-white">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}} - {{date}}</h6>
        <p class="card-text">{{text}}</p>

        <hr />

        <button id="{{id}}" type="button" class="btn btn-primary updatePost">Update Post</button>
        <button id="{{id}}" type="button" class="btn btn-secondary deletePost">Delete Post</button>
    </div>

    <form id="{{id}}" class="updatePostForm" hidden>
        <div class="mb-3">
            <label for="updatePostTitleInput" class="form-label">Update post:</label>
            <input type="text" class="form-control" id="updatePostTitleInput" />
            <div class="form-text">Update title here.</div>
        </div>
        <div class="mb-3">
            <textarea type="text" class="form-control" id="updatePostTextInput">Update text here.</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Update</button>
    </form>
</div>