<a href="/api/posts/{{id}}" style="text-decoration: none; color: inherit;">
    <div class="card col-12 border border-dark">
        <div class="card-body">
            <h5 class="card-title bg-dark text-white">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{user.username}} - {{date}}</h6>
            <p class="card-text">{{text}}</p>
        </div>
    </div>
</a>